/* 活動資訊的CSS部分 */

html {
    font-family: 'Noto Sans TC', sans-serif;
    font-family: 'Noto Serif TC', serif;
} 

html { box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit; }

body {
    padding: 20px 0;
}

h1, h2 {
    margin: 0;
    padding: 34px 0 14px 40px;
}

nav > ul {
    background-color: rgb(201, 191, 176);
    list-style: none;   /* 移除項目符號 */
    margin: 0;
    padding: 0;
}

nav a {
    color: inherit; /* 移除超連結顏色 */
    display: block; /* 讓 <a> 填滿 <li> */
    font-size: 1.2rem;
    padding: 10px;
    text-decoration: none;  /* 移除超連結底線 */
}

/* 滑鼠移到 <a> 時變成深底淺色 */
nav li:hover {
    background-color: rgb(182, 159, 129);
    color: white;
}

.taro-line {
    display: flex;
    justify-content: center;
}

.inline-block-nav {
    text-align: center;
    font-size: 0;   /* 移除 <li> 之間的空隙 */
}

.inline-block-nav > li {
    display: inline-block;
}


.picture  {
    padding-left: 60px;
    margin-top: 30px;
    color: #4F4F4F;
    margin: 30px;
}        

	

img {
  border-radius: 8px;
}	


 .happy {
    width: 1150px;
    margin: 50px auto;
    border:solid 1px gray;
    overflow: hidden; /* 避免長方框下面顯示不正常 */
}

.introduce {
    float:left; /* 圖片在左邊 */
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 100px;
    padding-right: 0px;	
}

.introduce img{
    display: block;
    width:100%;
	
}

.intext{
    float: right;  /* 文字在右邊 */
    width: 500px;
    padding: 20px 20px 0px 0px;
	
}


.one {
     line-height: 1.5;
}

.two {
      line-height: 1.5;
}	
	

/* 表格設定 */

.table-outbox {
  width: 80%;
  margin: 20px auto;
}


table {
    border-collapse: collapse; /* 邊框合併為單一邊框，讓表格變得更美化*/
    width: 100%;               /* 表格寬度設為100%，會隨著螢幕寬度縮放*/
}

th,td {
    border-bottom: solid 1px #cccccc; /* 邊框底邊，設定為實線、1px、#cccccc灰色細邊炳框*/
    padding: 10px;           /* 內距設為10px*/
    padding-left: 20px;	
    text-align: center;      
    vertical-align: top;     /* 垂直對齊該行文字的最高位置*/
}







.pagetop {
    text-align: center;
    margin: 1em;
	
}

.copyright {
    border-top: solid 5px #D2B48C;
    text-align: center;
    padding-top: 20px;
	
}	

	
footer {
    font-size:14px;
    font-weight: 200;
    line-height: 1em;
    padding: 20px;  
    clear: both;


}


