/* 創作公園的CSS部分 */

html {
    font-family: 'Noto Sans TC', sans-serif;
    font-family: 'Noto Serif TC', serif;
} 

html { box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit; }

body {
    padding: 20px 0;
}

h1, h2 {
    margin: 0;
    padding: 34px 0 14px 40px;
}

nav > ul {
    background-color: rgb(201, 191, 176);
    list-style: none;   /* 移除項目符號 */
    margin: 0;
    padding: 0;
}

nav a {
    color: inherit; /* 移除超連結顏色 */
    display: block; /* 讓 <a> 填滿 <li> */
    font-size: 1.2rem;
    padding: 10px;
    text-decoration: none;  /* 移除超連結底線 */
}

/* 滑鼠移到 <a> 時變成深底淺色 */
nav li:hover {
    background-color: rgb(182, 159, 129);
    color: white;
}

.taro-line {
    display: flex;
    justify-content: center;
}

.inline-block-nav {
    text-align: center;
    font-size: 0;   /* 移除 <li> 之間的空隙 */
}

.inline-block-nav > li {
    display: inline-block;
}



img {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 4px;
  width: 150px;
  margin-top: 10px;	
  margin-left: auto;
  margin-right:  auto;	
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
	

 .boxbox {
    width: 550px;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;	 
    border:solid 1px gray;
    overflow: hidden; /* 避免長方框下面顯示不正常 */
}


.wordword {
    float: left;
    width: 500px;
    padding: 20px 20px 0px 0px;
	
}




.pagetop {
    text-align: center;
    margin: 1em;
	
}

.copyright {
    border-top: solid 5px #D2B48C;
    text-align: center;
    padding-top: 20px;
	
}	

	
footer {
    font-size:14px;
    font-weight: 200;
    line-height: 1em;
    padding: 20px;  
    clear: both;


}

