/* 表格設定 */
table {
    border-collapse: collapse; /* 邊框合併為單一邊框，讓表格變得更美化*/
    width: 100%;               /* 表格寬度設為100%，會隨著螢幕寬度縮放*/
}
th,td {
    border-bottom: solid 1px #cccccc; /* 邊框底邊，設定為實線、1px、#cccccc灰色細邊炳框*/
    padding: 10px;           /* 內距設為10px*/
    text-align: left;        /* 文字靠左對齊*/
    vertical-align: top;    
}
